.productsAside {
  width: 30%;
  margin: 4em;
  padding: 2em;
  border-radius: 3rem;
  background-color: rgba(0, 0, 0, 0.301);
}

.productsAsideTitle {
  font-size: 1.6rem;
  font-weight: normal;
  text-align: center;
  color: rgb(192, 191, 191);
  margin: 0.4em 0.6em;
}
