.confirmModalContent {
  display: flex;
  flex-direction: column;
  gap: 2em;
  padding: 2em;
}

.confirmMessage {
  font-size: 1.4rem;
  color: rgb(217, 217, 217);
  text-align: center;
  margin-top: 0;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  gap: 1.5em;
}

.button {
  font-size: 1.3rem;
  color: white;
  border: none;
  background-color: rgb(75, 30, 96);
  border-radius: 0.5rem;
  padding: 1rem 1.5rem;
  transition: opacity 0.2s;
  cursor: pointer;

  &:hover {
    opacity: 0.9;
  }
}
