.platformCheckboxes {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-top: 1.2em;
}

.sectionTitle {
  font-size: 1.7rem;
  font-weight: normal;
  color: rgb(217, 217, 217);
  margin: 0;
}

.checkboxLabel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.75rem;
  font-size: 1.3rem;
}

.checkbox {
  width: 30px;
  height: 30px;
  accent-color: rgb(0, 64, 255);
  cursor: pointer;
}

.errorMessage {
  font-size: 0.875rem;
  color: red;
  margin-top: 0.5em;
}
