.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(18, 18, 18);
}

.headerTitle {
  font-size: 1.5rem;
  color: rgb(217, 220, 206);
  margin: auto 0.7em;
}
